
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  

  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
  }
  
  header, main, footer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #0b121c;
    color: #fff;
    text-align: center;
  }
  .header-items{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
}
  
  header img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  }
  
  main {
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 20px;
  }
  
  section {
    margin-bottom: 20px;
  }
  
  h1, h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  footer {
    text-align: center;
    padding: 10px;
    background-color: #0b121c;
    color: #fff;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
  }
  
